body {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

.header {
    text-align: center;
    margin: 25px;
}

.header-blue {
    color: #3E45E8;
    font-size: 48px;
    text-transform: uppercase;
}

.header-yellow {
    color: #E8C23E;
    font-size: 48px;
    text-transform: uppercase;
}

.all {
    max-width: 1000px;
    min-width: 700px;
    margin: 0;
}

.main {
    height: 531px;
    width: 100%;
    background-image: url(../image/main.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-text {
    font-family: 'Times New Roman', Times, sans-serif;
    font-weight: 700;
    font-size: 34px;
    height: 531px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 12%;
    color: white;

}

.miracle {
    padding-top: 25px;
    width: fit-content;
    background-image: url(../image/prapor1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 3%;
}

.cards>div {
    display: inline-block;
    width: 300px;
    height: 380px;
    border: 3px solid #0D095F;
    border-radius: 3%;
    margin: 10px;
    border: 2px solid #0D095F;
    box-shadow: 8px 6px 6px #9894df;
    vertical-align: top;
    overflow: hidden;
}

.cards-head {
    color: #0072DB;
    font-size: 28px;
    text-transform: capitalize;
    padding-left: 5px;
}

.cards-text {
    color: #FF9900;
    font-size: 18px;
    padding-left: 5px;
}

.peremoga {
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 30px;
    margin: auto;
    text-align: center;
    max-width: 600px;
    border-bottom: 5px solid #0072DB;

}

.mapa {
    text-align: center;
    padding-top: 25px;
}

.go {
    text-align: center;
    padding: 25px;
}

a {
    color: inherit;
}

.footer {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #A89D9D;
    background:
        linear-gradient(to bottom, #013235, #0D0661);
}